* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    border: 1px solid #242424;
    border-width: 1px 0;
    list-style: none;
    text-align: center;
    background-color: #242424;
}

nav li {
    display: inline;
}

nav a {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #bd4547;
}

nav a:focus {
    border-bottom: 2px solid;
}

nav a:hover {
    color: #da5153;
}

nav a::before {
    content: '';
    position: absolute;
    display: block;
    width:100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #da5153;
    transform: scaleX(0);
    transition: transform 300ms ease;
}

nav a:hover::before {
    transform: scaleX(1);
} 

li {
    transition: text-shadow 500ms ease;
}

li:hover{
    text-shadow: 
    0px -2px 0px rgba(0, 0, 0, 1),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 -4px 15px rgba(255, 255, 255, 0.5);
} 

.container {
    text-align: center;
    padding: 20px;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
}


/* |       HEX CODES       | */

/*

headings

*/


h2 {
    background-color: #242424;
    color: #bd4547;
    padding: 10px;
    border-radius: 16px;
    font-size: 40px;
}


/*

button

*/


.btn {
    font-size: 20px;
    font-weight: 700;
    margin: 32px auto;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #bd4547;
    background-color: #242424;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: text-shadow 500ms ease;
}

.btn:before {
    content: '';
    background: linear-gradient(
        45deg, 
        #ff0000, 
        #ff7300,
        #fffb00, 
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );

    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20000ms linear infinite;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: #242424;
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #242424;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* 

COUNTER 

*/


/* h1 */
.heading__counter {
    font-size: 48px;
    padding: 8px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);


}

/* the number */
#value {
    font-size: 48px;
    padding: 8px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);


}

/* buttons */
.btn__counter {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 32px auto;
    width: 220px;
    height: 50px;
    outline: none;
    color: #242424;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.increase {
    background-color: #186d33;
    outline: none;
    box-shadow: 0 5px 0 darkgreen;
}

.reset {
    background-color: #a9a9a9;
    box-shadow: 0 5px 0 #696969;
}

.decrease {
    background-color: #bd4547;
    box-shadow: 0 5px 0 darkred;
}

.btn__counter:active {
    box-shadow: none;
    top: 5px;
}


/*

navbar

*/

.logo {
    width: 50px;
    height: 50px;
}


/*

RESPONSIVE

*/

/* Small screens */
@media (max-width: 270px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 14px;
    }

    .heading__counter {
        font-size: 24px;
    }

    .btn, .btn__counter {
        font-size: 14px;
        max-width: 80px
    }
}
